@import url("https://fonts.googleapis.com/css?family=Bubblegum+Sans&display=swap");

:root {
  --bg-color: #ecf2ff;
  --text-color: #2b283a;
  --title-color: #4a4e74;
}

body {
  background: var(--bg-color);
  font-family: sans-serif;
  color: var(--text-color);
  transition:
    background 0.3s ease,
    color 0.3s ease;
}

section {
  width: 90%;
  margin: 0 auto;
}

.theme-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 15px 0 30p;
  border: 2px solid var(--text-color);
  background-color: var(--bg-color);
  border-radius: 20%;
  cursor: pointer;
  font-size: 1.5rem;
  z-index: 1000; /* Keeps it above everything else */
  transition: transform 0.2s ease;
}

.theme-btn:hover {
  transform: scale(1.1); /* Tiny pop effect on hover */
}

h3 {
  font-family: "Bubblegum sans";
  font-size: 2em;
  color: var(--title-color);
  transition: color 0.3s ease;
}

h1,
h2 {
  font-family: "Bubblegum Sans";
  text-align: center;
}

h1,
h2 {
  color: var(--title-color);
  font-size: 3em;
  text-align: center;
  transition: color 0.3s ease;
}

p {
  text-align: center;
}

.fireworks {
  text-align: center;
  /* This class is not used || You can make it happen */
  /* Can you help me make my fireworks bigger? */
  /* How about smaller? */
  font-size: 4em;
}

ul.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 70px;
}

ul.grid li {
  list-style: none;
  font-size: 3em;
  justify-self: center;
}

.scared:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.excited:hover {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: jump;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
}

@keyframes jump {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-100px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-7px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
